:root{
    --header-background-color:#2d3b8d;
    --span-color:#e0e0e0;
    --button-color:#da6302;
    --button-color-hover:#fa760a;
    --textColor:#696767;

    --code-background-off:#404854;
    --code-baground-on:grey;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}



/*----------Header------------*/

header{
    display: flex;
    margin: 0;
    background-color:var(--header-background-color);
    padding: 5%;
    justify-content: center;
    
}

header select{
    width: 350px;
    height: 40px;
    background-color: transparent;
    color: whitesmoke;
    border: black 1px solid;
    border-radius: 5px;
}
header select-items{
    color: black;
    background-color: var(--textColor);
}

/*----------Main-----------*/

main{
    color:var(--textColor);
    padding: 10px;
    line-height: 20px;
}
.sample_Works{
    cursor: pointer;
    display: flex;
    margin-bottom: 5px;
    border: solid var(--span-color) 1px;
    border-radius: 5px;
}

h1{
    margin: 20px 0px 20px 0px;
}

p{
    margin-bottom: 20px;
}
.sample_Works .discription{
margin-left: 10px;
display: flex;
flex-direction: column;
}

.fa-book-open{
    background-color: #566ce7;
    border: solid #566ce7 8px;
    border-radius: 5px;
    color: rgb(141, 221, 22);
    margin-left: 5px;
    align-self: center;
}


.tag{
background-color: var(--span-color);
padding: 2px;
border-radius: 5%;

}

.tags{
    line-height: 25px;
    padding: 20px;
    background-color: rgb(207, 225, 243);
}

.tags ul{
    line-height: 30px;
    padding: 20px;
    
}

.image{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
} 

section{
    margin-bottom: 10px;
}

button{  
    display: flex;
    
    justify-content: center;
    padding: 10px;
    background-color: var(--button-color);
    border: var(--button-color);
    border-radius: 5px;
    transition: 0.5s;
    margin-bottom: 20px;
}

button:hover{
    background-color: var(--button-color-hover);
    transition: 0.5s;
}


.fa-caret-right{
align-self: center;
color: wheat;
margin-right: 5px;
}


button a{
    color: white;
    text-decoration-line: none;
}





/*---------Modal---------*/



.modal_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    opacity: 0;
    
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: none;
}

.atribute button{
margin: 0 !important;
}

.fixed_code{
    display: flex;
    justify-content: space-around;
    background-color: #2d3b8d;
    align-items: center;
    padding: 10px;
}


.modal_container.show{
    opacity: 1;
    pointer-events: auto;
}

.modal{
    overflow: scroll;
    overflow-x: hidden;  
    padding: 30px 30px;
    background-color: #2d3b8d;
    width: 600px;
    height: 300px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}




.modal p{
    opacity: 0.7;
}


.menu{
    margin: 10px;
    border: 5px white soild;
  }
  
  .menu_label{
    background-color:#798df2;
    cursor:pointer;
    border: #798df2 2px;
    border-radius: 10px 10px 0px 0px;
  }
  label{
    cursor:pointer;
    display: block; 
  }
  .modal_container label,.modal_container p{
    margin-left:5px;
  }
  
  .modal_container p{
    margin-bottom: 5px;
  }
  
  .menu_details{
    background-color:#b9c4fa;
     border: #b9c4fa 2px;
    border-radius: 0px 0px 10px 10px;
  }


  


  .code{
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;  
    flex-wrap: nowrap;
    color: #c0bdbd;
    background-color: var(--code-background-off);
    width: 600px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    

    display:flex;
    flex-direction:column;
 
    padding-bottom:30px;
  }
  .code_review{
      background-color:#2d3b8d ;
      
      display: flex;
      align-items: center;
      
  }

  .js{
      background-color: var(--code-background-off);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 10px;
      margin-left: 20px;
  }
  .code span {
    background-color:var(--code-background-off);
  }
  .code_span{
   padding-left: 10px;
  }
  .number{
    margin-right:8px;
  }
  .lower{
    margin-left:8px;
  }
  
  .purple{
    color:purple;
  }
  
  .red{
    color:red;
  }
  
  .white{
    color:white;
  }
  .green{
    color:green;
  }
  .blue{
    color:blue;
  }
  .cyan{
    color:cyan;
  }